@import 'tailwindcss';

@layer base {
  input,
  textarea,
  select {
    background-color: rgb(240, 242, 245) !important;
    padding: 0.25em;
    border-radius: 6px;
    border: 1px solid rgb(218, 221, 223);
  }
  input:focus {
    outline: 1.25px solid gray;
  }
}
